.tileCard {
    border-radius: 6px;
    padding: 34px 20px;
    box-shadow: rgb(14 30 37 / 50%) 0px 2px 4px 0px, rgb(14 30 37 / 50%) 0px 0px 6px 0px;

    p {
        color: $color-font;
        font-size: $font-15;
    }

    svg {
        margin-right: 6px;
        color: $color-font;
    }

    .username,
    .registered {
        display: flex;
        align-items: center;
    }
}