@mixin grid-layout($columns, $gap) {
    display: grid;
    grid-template-columns: $columns;
    grid-column-gap: $gap;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin image-hover($color) {
    img {
        transform: scale(1.05);
    }

    h3 {
        color: $color;

        span {
            color: $color;
        }
    }
}