/* Variables for colors */
$color-bg: #2f2f2f;
$color-light: #696868;
$color-lighter: #69686821;
$color-font: #121212;
$color-white: #ffffff;

/* Borders */

/* Transitions */
$global-transition: all 0.1s ease-out;

/* Variables for font size */
$font-12: 12px;
$font-14: 14px;
$font-paragraph: 16px;
$font-bold: 700;

/* Variables for breakpoints */
$mobile-device: 576px;
$tablet-device: 991px