/* Variables for colors */
$color-bg: #2f2f2f;
$color-light: #696868;
$color-lighter: #69686821;
$color-font: #121212;
$color-white: #ffffff;
$color-green: #1a8a1a;

/* Variables for fonts */
$font-15 :15px;
$font-16 :16px;