.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

h1,
h3,
h4,
p {
    color: $color-font;
}

.table>:not(:first-child) {
    border-top: 1px solid $color-lighter  !important;
}

.rotate-180 {
    transform: rotate(180deg);
}

/* .container {
    max-width: 1260px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.detail-container {
    max-width: 940px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: $tablet-device) {
    h1 {
        font-size: $font-22  !important;
    }

    h5 {
        font-size: $font-18  !important;
    }

    h3 {
        font-size: $font-16  !important;
    }

    h4 {
        font-size: $font-27  !important;
    }

    small {
        font-size: $font-12  !important;
    }
} */